// Specific CSS for your home-page


.banner {
  background-image: url(blooking_homepage.png);
  background-size: cover;
  background-position: center;
  padding: 290px 0;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: 600;
}

.btn-home {
  color: mediumblue;
  text-decoration: none;
  background-color: cornsilk;
  padding: 10px;
  border-radius: 3px;
}

.home-info {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
}
